.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.success_stats {
    font-size: 1.5rem;
    color: var(--ion-color-success);
}

.danger_stats {
    font-size: 1.5rem;
    color: var(--ion-color-danger);
}

.info_stats {
    font-size: 1.5rem;
    color: var(--ion-color-primary-shade);
}

.warning_stats {
    font-size: 1.5rem;
    color: var(--ion-color-warning);
}